<!DOCTYPE html>
<html>
<head>
<title>TaskLog{{#title}} | {{title}}{{/title}}</title>
  <meta charset="utf-8" />
  <script type="text/javascript" charset="utf-8" src="./views/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="./views/js/bootstrap.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="./views/js/moment.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="./views/js/jquery.populate.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="./views/js/jquery.form-validator.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="./views/js/jquery.serializejson.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="./views/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="./views/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="./views/js/dataTables.bootstrap.js"></script>
  <link rel="stylesheet" href="./views/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="./views/css/styles.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="./views/css/bootstrap-datetimepicker.min.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="./views/css/jquery.dataTables.min.css" type="text/css" media="screen" charset="utf-8" />
  <script>
    $(function(){
        $.validate();
    });
  </script>
</head>
<body>
<div id="header">

</div>
