{{> header}}

<div id="wrapper" class="wrapper">
  {{> index_header}}
  <div id="stage" class="stage">
    <div class="col-md-3" style="padding-left: 0;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">New Invoice</h3>
        </div>

        <div class="panel-body">
          <form action="?to=create_invoice" role="form" method="POST">

            <div class="form-group">
              <label for="project" class="control-label">Project</label>
              <select id="project_selection" class="form-control" name="project">
                {{#projects}}
                <option {{#selected}}selected{{/selected}} value="{{id}}">{{name}}</option>
                {{/projects}}
              </select>
            </div>

            <div class="form-group">
              <label for="startDate" class="control-label">Start date</label>
              <div class="input-group date-picker">
                <input class="form-control" data-format="MM/dd/yyyy"  type="text" name="startDate" value="{{startDate}}" >
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
              </div>
            </div>

            <div class="form-group">
              <label for="endDate" class="control-label">End date</label>
              <div class="input-group date-picker">
                <input class="form-control" data-format="MM/dd/yyyy"  type="text" name="endDate" value="{{endDate}}" >
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
              </div>
            </div>

            <div class="form-group">
              <label for="rate" class="control-label">Rate</label>
              <input data-validation-error-msg="Must be numbers" data-validation="number" data-validation-allowing="float" class="form-control" data-format="HH:mm PP"  type="text" name="rate" value="{{rate}}" >
            </div>

            <div class="form-group">
              <label for="description" class="control-label">Description</label>
              <textarea id="description" name="description" class="form-control" rows="4"></textarea>
            </div>

            <input type="submit" class="pull-right btn btn-primary" value="Submit" />
          </form>
        </div>

      </div>
    </div>

    <div class="col-md-9" id="invoices-panel" style="padding-right: 0;">

      <div class="panel panel-default">
        <div class="panel-heading">
          <form action="." method="GET" class="form form-inline">
            <input type="hidden" name="to" value="invoices">
            <h3 class="panel-title">Invoices from

              <div class="form-group" style="width: 8em;">
                <div class="input-group input-group-sm date-picker">
                  <input class="form-control" type="text" value="{{start}}" name="start"> 
                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
                </div>
              </div>

              to

              <div class="form-group" style="width: 8em;">
                <div class="input-group input-group-sm date-picker">
                  <input class="form-control" type="text" value="{{end}}" name="end"> 
                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
                </div>
              </div>

              <button class="form-control input-sm" type="submit"><i class="glyphicon glyphicon-refresh"></i></button>

              <div class="form-group" style="float: right;">
                <input class="form-control input-sm" placeholder="Search" type="text" id="searchbox"> 
              </div>


            </form>
          </div>

          <div class="panel-body">
            <table id="invoices" class="table">
              <thead>
                <tr>
                  <th>Start date</th>
                  <th>End date</th>
                  <th>Project</th>
                  <th>Description</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {{#invoices}}
              <tr>
                <td>{{startDate}}</td>
                <td>{{endDate}}</td>
                <td>{{project}}</td>
                <td>{{description}}</td>
                <td>{{total}}</td>
                <td><a href="?to=invoice&id={{id}}" target="_blank">PDF</a></td>
              </tr>
              {{/invoices}}
              </tbody>
            </table>
          </div>


        </div>
      </div>
    </div>

  </div>
{{> footer}}

<script>
$(function(){

    $("#project_selection").focus();

    $(".date-picker").datetimepicker({ pickTime: false });

    $(".time-picker").datetimepicker({ pickDate: false });

    dataTable = $("#invoices").dataTable({
      "paging": false,
      "info": false,
      "scrollY": 400,
      "order": [[0, "desc"]]
    });

    $("#searchbox").keyup(function(){ dataTable.fnFilter(this.value); });

});
</script>
